body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

input.valid {
    border: 2px solid green;
}

input.invalid {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    height: 20px;
}
.form{
    border: 2px solid black;
    height: 250px;
    width: 100px;
}